Source: myhello
Section: unknown
Priority: optional
Maintainer: Nelson <nelson@unknown>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/myhello
#Vcs-Git: https://salsa.debian.org/debian/myhello.git
Rules-Requires-Root: no

Package: myhello
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
